<% main_image_url = main_image_url(@campsite) %>
<% content_for :title, @campsite.name %>
<% content_for :description, "#{@campsite.name}の詳細ページです。" %>
<% content_for :og_title, @campsite.name %>
<% content_for :og_description, "#{@campsite.name}の詳細情報を掲載しています。" %>
<% content_for :og_image, @campsite.images.attached? ? url_for(@campsite.images.first) : image_url('default_campsite.PNG') %>

<div class="flex">
  <div class="w-1/2">
    <div class="flow-root">
      <dl class="p-4 -my-3 divide-y divide-green-200 text-sm dark:divide-gray-700">
        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dd class="text-xl font-mplus font-bold text-gray-700 sm:col-span-2 dark:text-gray-200">
            <%= @campsite.name %>
            <%= render "campsites/favorite" %>
          </dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-2 sm:gap-4">
          <dt class="font-mplus text-gray-900 dark:text-white">ロケーション</dt>
          <dd class="text-gray-700 sm:col-span-2 dark:text-gray-200">
            <%= @campsite.address %>
          </dd>
        </div>
      </dl>

      <%# メイン画像 + サブ画像のレイアウト %>
      <div class="image-gallery shadow-md">
        <%# メイン画像 %>
        <div class="main-image">
          <% if @campsite.images.attached? %>
            <%= image_tag url_for(@campsite.images.first), alt: "キャンプ場の画像" %>
          <% else %>
            <%= image_tag "default_campsite.PNG", alt: "キャンプ場のデフォルト画像" %>
          <% end %>
        </div>

        <%# サブ画像 %>
        <div class="sub-images">
          <% if @campsite.images.attached? && @campsite.images.count > 1 %>
            <% @campsite.images.drop(1).each do |image| %>
              <%= image_tag url_for(image), alt: "キャンプ場のサブ画像", style: "width: 200px; height: 140px;" %>
            <% end %>
          <% else %>
            <%= image_tag "default_campsite_sub.JPG", alt: "キャンプ場のサブ画像", style: "width: 200px; height: 140px;" %>
          <% end %>
        </div>
      </div>
    </div>
    <dl class="p-4 -my-3 divide-y divide-green-200 text-sm dark:divide-gray-700 w-1/2">
      <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
        <dd class="text-xl font-mplus font-bold text-gray-700 sm:col-span-2 dark:text-gray-200">
          近隣の温浴施設
        </dd>
      </div>

      <div class="grid grid-cols-1 gap-0 py-3 sm:grid-cols-2 sm:gap-4 mx-auto">
        <% if @nearby_hotsprings.any? %>
            <% @nearby_hotsprings.each do |data| %>
              <div class="p-4 rounded-lg shadow-md">
                <dt class="text-xl font-mplus font-bold text-gray-700 dark:text-gray-200">
                  <%= data[:hotspring].name %>（<%= data[:distance].round(2) %> km）
                </dt>
                <%= image_tag "hotspring.jpg", alt: "温泉イラスト", class: "w-full h-40 object-cover rounded-md mt-2" %>
              </div>
            <% end %>
        <% else %>
          <p>近隣(10km圏内)に温浴施設はありません。</p>
        <% end %>
      </div>
    </dl>
  </div>

  <div class="w-1/2">
    <div id="map" style="height: 1000px;"></div>
  </div>
</div>

<style>
  .image-gallery {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
    align-items: center;
  }

  .main-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }

  .sub-images {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }

  .sub-images img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px;
  }
</style>

<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: <%= @center_lat %>, lng: <%= @center_lng %> },
        zoom: 12
    });

    const camp_marker = new google.maps.Marker({
        position: { lat: <%= @center_lat %>, lng: <%= @center_lng %> },
        map: map,
        title: "<%= @campsite.name %>",
        icon: {
            url: "<%= image_path('tent.png') %>",
            scaledSize: new google.maps.Size(32, 32),
        }
    });
    // ♨️ 温泉施設のマーカー
    const hotsprings = <%= raw @hotsprings_json %>;

    hotsprings.forEach(hotspring => {
      const hotspring_marker = new google.maps.Marker({
        position: { lat: hotspring.lat, lng: hotspring.lng },
        map: map,
        title: hotspring.name,
        icon: {
            url: "<%= image_path('onsen.png') %>",
            scaledSize: new google.maps.Size(28, 28),
        }
      });

      const hotspring_infoWindow = new google.maps.InfoWindow({
        content: `
          <div style="max-width: 200px;">
            <h3>${hotspring.name}</h3>
            <img src="<%= image_path('hotspring.jpg') %>" alt="温泉施設の画像" style="width: 100%; border-radius: 8px;">
          </div>
        `
      });

      hotspring_marker.addListener("click", function() {
        hotspring_infoWindow.open(map, hotspring_marker);
      });
    });
    

    const camp_infoWindow = new google.maps.InfoWindow({
        content: `
          <div style="max-width: 250px;">
            <h3><%= @campsite.name %></h3>
            <p><%= @campsite.address %></p>
            <% if photo_paths_array(@campsite).present? %>
              <img src="<%= main_image_url(@campsite) %>" alt="キャンプ場の画像" style="width: 100%; border-radius: 8px;">
            <% else %>
              <%= image_tag "default_campsite.PNG", alt: "キャンプ場のサブ画像", style: "width: 100%; border-radius: 8px;" %>
            <% end %>
          </div>
        `
      });
      // マーカーをクリックしたときに吹き出しを表示
      camp_marker.addListener("click", function () {
        camp_infoWindow.open(map, camp_marker);
      });
  }

  document.addEventListener("turbo:load", function() {
    const script = document.createElement("script");
    script.src = `https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap`;
    script.defer = true;
    document.head.appendChild(script);
  });
</script>