<% main_image_url = main_image_url(@campsite) %>
<% sub_image_urls = sub_image_urls(@campsite) %>

<div class="flex">
  <div class="w-1/2">
    <div class="flow-root">
      <dl class="p-4 -my-3 divide-y divide-green-200 text-sm dark:divide-gray-700">
        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dd class="text-xl font-mplus font-bold text-gray-700 sm:col-span-2 dark:text-gray-200">
            <%= @campsite.name %>
          </dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-2 sm:gap-4">
          <dt class="font-mplus text-gray-900 dark:text-white">ロケーション</dt>
          <dd class="text-gray-700 sm:col-span-2 dark:text-gray-200">
            <%= @campsite.address %>
          </dd>
        </div>
      </dl>

      <%# メイン画像 + サブ画像のレイアウト %>
      <div class="image-gallery">
        <%# メイン画像 %>
        <div class="main-image">
          <% if main_image_url.present? %>
            <img src="<%= main_image_url %>" alt="キャンプ場の画像">
          <% else %>
            <p>画像なし</p>
          <% end %>
        </div>

        <%# サブ画像 %>
        <div class="sub-images">
          <% if sub_image_urls.present? %>
            <% sub_image_urls.each do |sub_image_url| %>
              <img src="<%= url_for("/#{sub_image_url}") %>" alt="キャンプ場のサブ画像">
            <% end %>
          <% else %>
            <p>サブ画像なし</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="w-1/2">
    <div id="map" style="height: 800px;"></div>
  </div>
</div>

<style>
  .image-gallery {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
    align-items: over;
  }

  .main-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }

  .sub-images {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
  }

  .sub-images img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px;
  }
</style>

<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: <%= @center_lat %>, lng: <%= @center_lng %> },
        zoom: 12
    });

    const marker = new google.maps.Marker({
        position: { lat: <%= @center_lat %>, lng: <%= @center_lng %> },
        map: map,
        title: "<%= @campsite.name %>",
        icon: {
            url: "<%= image_path('tent.png') %>",
            scaledSize: new google.maps.Size(32, 32),
        }
    });

    // メイン画像のURLを取得
    let mainImageUrl = "<%= main_image_url || '' %>";
  }

  document.addEventListener("turbo:load", function() {
    const script = document.createElement("script");
    script.src = `https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap`;
    script.defer = true;
    document.head.appendChild(script);
  });
</script>